<div class="sidebar">
  <form action="<%= feeds_url %>" method="POST">
    <%= form_token %>
    <input type="text" name="feed[url]" value="">
    <input type="submit" value="Add feed">
  </form>

	<ul>
		<% @unbucketed_feeds.each do |feed| %>
			<li>
				<%= link_to feed.title, feed_url(feed.id) %>
			</li>
		<% end %>
		<% @buckets.keys.each do |bucket| %>
		  <ul>
		  	<em><%= bucket.name %></em>
			  <% bucket.feeds.each do |feed| %>
				  <li>
					  <%= link_to feed.title, feed_url(feed.id) %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</ul>
</div>
