Hello <%= current_user.email %>.

Add feed:
<form action="<%= feeds_url %>" method="POST">
  <%= form_token %>
  <input type="text" name="feed[url]" value="">
  <input type="submit" value="Submit">

  <% @entries.each do |entry| %>
    <p>
      <%= entry.feed.title %><br>
      <%= entry.title %>
    </p>
  <% end %>
</form>
