Hello <%= current_user.email %>.

Add feed:
<form action="<%= feeds_url %>" method="POST">
  <%= form_token %>
  <input type="text" name="feed[url]" value="">
  <input type="submit" value="Submit">
</form>

<div class="sidebar">
	<ul>
		<% @feeds.each do |feed| %>
		  <li>
			  <%= feed.title %>
			</li>
		<% end %>
	</ul>
</div>
<div class="main">
	<%= link_to "Reload all feeds", reload_all_feeds_url %>

	<% @entries.each do |entry| %>
	  <p>
	    <%= entry.feed.title %><br>
	    <%= entry.title %><br>
	    <%= entry.description %>
	  </p>
	<% end %>
</div>