<!DOCTYPE html>
<html>
<head>
  <title>rrss</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if user_signed_in? %>
    Logged in as <%= current_user.email %>.
    <%= link_to 'Edit profile', edit_user_registration_path %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete,
        form_class: 'form-inline' %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %> or
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
</header>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert  %>
  <p class="alert"><%= alert %></p>
<% end %>


<%= yield %>

</body>
</html>
